@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100;1,500&display=swap');

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}



/*
 Règle à ajouter pour tablette électronique
*/
@media (min-width: 640px){
    
}

/*
 Règle à ajouter pour ordinateur
*/
@media (min-width: 1200px){
    
}

html{
    background-image: linear-gradient( rgba(96, 76, 76, .6), rgba(96, 76, 76, .6)), url("https://www.shutterstock.com/shutterstock/videos/1100422615/thumb/1.jpg?ip=x480");
    font-family: 'Roboto', sans-serif

}

body{

size: 100px;
text-align: center;

}
 a{
    text-decoration-line: none;
    text-align: center;
    color: aliceblue;
 }


h2{

}

div h1 {
    color: white;
    font-size: 4opx;


}

div h1 span{
    color: rgb(63, 158, 205);
    font-size: 40px;

}
h2{
    font-size: 20px;
    color: white;
}
p{
    color: white;
    text-align: center;
    font-size: 20px;
}

div{
    text-align: center;
}
#texte{

    color: beige;
}